@page
@model IdentityNotesDemo.Pages.ForgottenPasswordModel
@{
    ViewData["Title"] = "ForgottenPassword";
}

<h1>ForgottenPassword</h1>
<form asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.EMail"></label>
        <input asp-for="Input.EMail" class="form-control" />
        <span asp-validation-for="Input.EMail" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Sign In</button>
</form>
