@page
@model IdentityNotesDemo.SecretModel
@{
    ViewData["Title"] = "Secret";
}

<h1>Notes</h1>
<a class="btn btn-primary" asp-page="CreateNote">Create Note</a>
<table class="table">
    <thead>
        <tr>
            <th width="100px" scope="col">Owner</th>
            <th width="100px" scope="col">Title</th>
            <th scope="col">Text</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Notes)
        {
            <tr>
                <td>@item.Owner</td>
                <td>@item.Title</td>
                <td colspan="6">@item.Text</td>
            </tr>
        }
    </tbody>
</table>

